<h1>Here is what the coach has to say!</h1>
<div class="container">
<h2><%= @question %></h2>
<h3>Your question</h3>
<h2><%= @answer %></h2>
<h3>The coaches answer</h3>
</div>

<%= link_to "Ask another question", ask_path %>
